In [4]:
print("program to check if anumber is positive,nagative or zero")
num=float(input("enter number:"))
if num>0:
    print("number is positive")
elif num==0:
    print("number is zero")
else:
    print("number is nagative")
print("pranjal barot \n 180630107003")

program to check if anumber is positive,nagative or zero
enter number:-3
number is nagative
pranjal barot
 180630107003

In [8]:
print("program to check if a number is even or odd")
num=int(input("enter number:"))
if num%2==0:
    print("{0} is even".format(num))
else:
    print("{0} is odd".format(num))
print("pranjal barot\n180630107003")

program to check if a number is even or odd
enter number:4
4 is even
pranjal barot
180630107003

In [14]:
print("python program to find largest among three numbers")
num1=int(input("enter num1 :"))
num2=int(input("enter num2 :"))
num3=int(input("enter num3 :"))
if num1>=num2 and num1>=num3:
    print("{0} is large".format(num1))
elif num2>=num1 and num2>=num3:
    print("{0} is large".format(num2))
else:
    print("{0} is large".format(num3))
print("pranjal barot\n180630107003")

python program to find largest among three numbers
enter num1 :7
enter num2 :3
enter num3 :6
7 is large
pranjal barot
180630107003

In [18]:
print("program to check leap year")
year=int(input("enter year :"))
if year%4==0:
    if year%100==0:
        if year%400==0:
            print("{0} is leap year".format(year))
        else:
            print("{0} is not leap year".format(year))
    else:
        print("{0} is leap year".format(year))
else:
    print("{0} is not leap year".format(year))
print("pranjal barot\n180630107003")

program to check leap year
enter year :2001
2001 is not leap year
pranjal barot
180630107003

In [21]:
print("program to check prime number")
num=300
if num>1:
    for i in range (2,num):
        if num%i==0:
            print("{0} is not a prime number".format(num))
            break
else:
    print(num," is prime number")
print("pranjal barot\n180630107003")

program to check prime number
300 is not a prime number
pranjal barot
180630107003

In [25]:
print("program to print all prime numbers into intervals")
lower=500
upper=600
print("prime number between ",lower," and ",upper," are :")
for num in range(lower,upper+1):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)
print("pranjal barot\n180630107003")

program to print all prime numbers into intervals
prime number between  500  and  600  are :
503
509
521
523
541
547
557
563
569
571
577
587
593
599
pranjal barot
180630107003

In [27]:
print("program to find factorial of a number")
factorial=1
num=int(input("enter number :"))
if num<0:
    print("factorail of the {0} does not exist".format(num))
elif num==1:
        print("factorial of {0} is 1".format(num))
else:
    for i in range(2,num+1):
        factorial=factorial*i
    print("factorial of ",num," is ",factorial)
    print("pranjal barot\n180630107003")

program to find factorial of a number
enter number :3
factorial of  3  is  6
pranjal barot
180630107003

In [7]:
print("python program to display multiplication table")
num=int(input("enter number :"))
print("multiplication table of ",num," is given below.")
for i in range(1,11):
    print(num,'*', i, " = ",num*i)
print("barot pranjal\n180630107003")

python program to display multiplication table
enter number :4
multiplication table of  4  is given below.
4 * 1  =  4
4 * 2  =  8
4 * 3  =  12
4 * 4  =  16
4 * 5  =  20
4 * 6  =  24
4 * 7  =  28
4 * 8  =  32
4 * 9  =  36
4 * 10  =  40
barot pranjal
180630107003