In [2]:
print("hello,world !!")
print(" hello!! pranjal barot \n 180630107003")

hello,world !!
 hello!! pranjal barot
 180630107003

In [4]:
print("addition of two number")
a=2
b=4
sum=a+b
print("sum of {0} and {1} is {2}".format(a,b,sum))
print("pranjal barot \n 180630107003")

addition of two number
sum of 2 and 4 is 6
pranjal barot
 180630107003

In [5]:
print("square root program")
num=16
sqrt=num**0.5
print("square root of {0} is {1}".format(num,sqrt))
print("pranjal barot \n 180630107003")

square root program
square root of 16 is 4.0
pranjal barot
 180630107003

In [3]:
print("to calculate area of triangle")
a=5
b=6
c=3
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**0.5
print("area of triangle which havine edge {0},{1},{2} is {3}".format(a,b,c,area))
print("\n enrollment no:-180630107003 \n name:pranjal barot")

to calculate area of triangle
area of triangle which havine edge 5,6,3 is 7.483314773547883

 enrollment no:-180630107003
 name:pranjal barot

In [7]:
print("program to solve quadratic equation")
import cmath
a=1
b=5
c=6
d=((b**2)-(4*a*c))
sol1=(-b-cmath.sqrt(d)/2*a)
sol2=(-b+cmath.sqrt(d)/2*a)
print("the two solution of the quadratic equation is {0} and {1}".format(sol1,sol2))

program to solve quadratic equation
the two solution of the quadratic equation is (-5.5+0j) and (-4.5+0j)

In [9]:
print("swap two variable")
x=5
y=10
print("value before swapping {0} and {1}".format(x,y))
temp=x
x=y
y=temp
print("value after swaping {0} and {1}".format(x,y))
print("my name is:pranjal \n 180630107003 \n from 5CE1")

swap two variable
value before swapping 5 and 10
value after swaping 10 and 5
my name is:pranjal
 180630107003
 from 5CE1

In [10]:
print("program to generate random number")
import random
print(random.randint(0,5))
print("pranjal barot \n 180630107003")

program to generate random number
3
pranjal barot
 180630107003

In [11]:
print("program to convert kilometer in miles")
kilometer=float(input("enter value in kilometer"))
conversionfactor=0.621371
miles=kilometer*conversionfactor
print("{0}km is equal to {1}miles".format(kilometer,miles))
print("pranjal barot \n 180630107003")

program to convert kilometer in miles
enter value in kilometer10
10.0km is equal to 6.21371miles
pranjal barot
 180630107003

In [21]:
print("program to convert celsius in fahrenheit")
celsius=37.5
fahrenheit=(celsius*1.8)+32
print("{0} degree celsius is equal to {1} fahrenheit".format(celsius,fahrenheit))
print("name:pranjal barot \n en no:180630107003")

program to convert celsius in fahrenheit
37.5 degree celsius is equal to 99.5 fahrenheit
name:pranjal barot
 en no:180630107003